.tab-pane{
    -fx-background-color: #3c3c3c;
    -fx-background-image: url("/files/0-0.jpg");
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:180px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #424851;

}

.tab-pane .tab:selected
{
    -fx-background-color: #424851;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
    -fx-font-size: 15px;
}

.button{
    -fx-text-fill: #828282;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: #111111;
}

.button:pressed {
    -fx-text-fill: #96b946;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: #3c3c3c;
}

.label{
    -fx-text-fill: #96b946;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-color: #3c3c3c;
}

/*.choice-box{
    -fx-text-fill: #96b946;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-background-color: #000000;
}*/

.tab-label .table-view
{
    -fx-text-fill: #000000;
    -fx-background-color: #111111;
}


