.button{
    -fx-text-fill: #828282;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: #111111;
}

.button:pressed {
    -fx-text-fill: #96b946;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: #3c3c3c;
}

.label{
    -fx-text-fill: #96b946;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-color: #3c3c3c;
}

.tab-label .table-view
{
    -fx-text-fill: #000000;
    -fx-background-color: #111111;
}


