.HBox
{
    -fx-background-image: url("/files/main_backgorund.png");
    -fx-shadow-highlight-color: transparent;
}

.menu-button
{
    -fx-text-fill: #f7ffec;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-background-image: url("/files/main_label_nc.png");
    -fx-shadow-highlight-color: transparent;
}

.menu-button:focused
{
    -fx-text-fill: #071e07;
    -fx-font-weight: bold;
    -fx-background-image: url("/files/main_label_c.png");
    -fx-shadow-highlight-color: transparent;
}